<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout :: head}"></head>

<body>
	<div th:replace="~{layout :: nav('StudentDashboard')}"></div>
	<div sec:authorize="not isAuthenticated()">
		<!-- Updated to Thymeleaf full fragment syntax -->
		<div th:replace="~{layout :: loginModal}"></div>
	</div>
	<section class="div1">
		<h2>Student Dashboard</h2>
		<hr>
		<br>
		<div class="button-container">
			<a th:href="@{/student/revision}" class="button">Revise</a> <a
				th:href="@{/student/test}" class="button">Take a test</a>
		</div>
		<h2>Previous results</h2>
		<table>
			<tr>
				<th>Date of test</th>
				<th>Score (%)</th>
			</tr>
			<tr th:each="t : ${tests}">
				<td th:text="${#temporals.format(t.testedAt, 'dd MMM yyyy HH:mm')}"></td>
				<td th:text="${t.score}"></td>
			</tr>
		</table>
		<br>
		<hr>
		<!-- Updated to Thymeleaf full fragment syntax -->
		<div th:replace="~{layout :: footer}"></div>
		<!-- Updated to Thymeleaf full fragment syntax -->
		<div th:replace="~{layout :: scripts}"></div>
	</section>

</body>

</html>