<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/style.css}">
<body>


<div th:replace="layout :: heroSection50"></div>
<div th:replace="layout :: nav"></div>
<div sec:authorize="not isAuthenticated()">
    <div th:replace="layout :: loginModal"></div>
</div>
	<h2>Student Test Page</h2>
	<hr>
	<h3>Take a test.</h3>
	<hr>
	<div th:replace="layout :: footer"></div>
	<div th:replace="layout :: scripts"></div>
</body>
</html>
</html>