<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{layout :: head}"></head>
<link rel="stylesheet" th:href="@{/css/style.css}">

<body>

<div th:replace="~{layout :: nav('Home')}"></div>

<section class="div2">
    <h1>403 - Access Denied</h1>
    <p>Sorry, you do not have permission to view this page.</p>
    <a th:href="@{/}">Return to Home</a>
    <hr>
    <div th:replace="layout :: footer"></div>
    <div th:replace="layout :: scripts"></div>
</section>

</body>
</html>
