<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" th:href="@{/style.css}">
<body>

<div th:replace="layout :: heroSection"></div>
<div th:replace="layout :: nav"></div>
<div sec:authorize="not isAuthenticated()">
    <div th:replace="layout :: loginModal"></div>
</div>
	<section class="div2">
	<h1>Croeso</h1>
	<p>This website is designed to help students learn new Welsh nouns and test their knowledge.</p>
	<hr/>
		<div th:if="${wordOfTheDay != null}" id="nounCard">
		<h2>Noun of the Day</h2>
			<h5>
				<strong><span id="welshWord" th:text="${wordOfTheDay.welshWord}"></span></strong>
				: <span id="englishWord" th:text="${wordOfTheDay.englishWord}"></span>
			</h5>
			<p>
				<i><span id="gender" th:text="${wordOfTheDay.gender == T(uk.ac.bangor.cs.dmd23ctz.academi_gymraeg.model.Gender).MASCULINE ? 'Masculine' : 'Feminine'}"></span></i>
				<br />
				<strong>How to use in a sentence:</strong>
				<br />
				<span id="welshSent" th:text="${wordOfTheDay.welshSent}"></span>
				<i><span id="englishSent" th:text="${wordOfTheDay.englishSent}"></span></i>
			</p>
			<button type="button" onclick="shuffleNoun()">Show another random noun</button>
		</div>

		<div th:if="${wordOfTheDay == null}">
			<p>No nouns available.</p>
		</div>
		
		<hr>
		<section class="div1">
		
		<p>EXTRA. Show a noun and its translate, then a sentence how to
			use. DONE</p>
		<p>EXTRA. Button to shuffle the above noun. DONE, jsut refreshes the page, myabe a better option? DONE</p>
		<p>EXTRA, Disable this view for Student who is taking a test.</p>

		<hr>
	

	<div th:replace="layout :: footer"></div>
	<div th:replace="layout :: scripts"></div>
	</section>
	</section>
	
</body>
</html>

<script>
    function shuffleNoun() {
        fetch('/random-noun')
            .then(response => response.json())
            .then(noun => {
                document.getElementById('welshWord').textContent = noun.welshWord;
                document.getElementById('englishWord').textContent = noun.englishWord;
                document.getElementById('gender').textContent = noun.gender === 'MASCULINE' ? 'Masculine' : 'Feminine';
                document.getElementById('welshSent').textContent = noun.welshSent || '';
                document.getElementById('englishSent').textContent = noun.englishSent || '';
            });
    }
</script>
<script th:if="${param.error}">
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('loginModal').style.display = 'block';
    });
</script>
