<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<section th:fragment="heroSection" class="hero1">

	<video class="hero-video" autoplay muted loop>
		<source th:src="@{/img/banMov.mp4}" type="video/mp4">
	</video>

	<section class="hero-text">
		<h1>hiraeth</h1>
		<h3>
			<i>noun - feminine</i>
		</h3>
		<h3>the longing for one's homeland</h3>
	</section>
</section>

<nav th:fragment="nav(activePage)" class="sticky">
	<ul class="list-inline">
		<li><a th:href="@{/}"
			th:classappend="${activePage == 'Home'} ? 'active' : ''">Home</a></li>
		<!-- Admin dashboard -->
		<li sec:authorize="hasRole('ADMIN')"><a
			th:href="@{/admin/dashboard}"
			th:classappend="${activePage == 'AdminDashboard'} ? 'active' : ''">Admin
				Dashboard</a></li>

		<!-- Lecturer dashboard -->
		<li sec:authorize="hasRole('LECTURER')"><a
			th:href="@{/lecturer/dashboard}"
			th:classappend="${activePage == 'LecturerDashboard'} ? 'active' : ''">Lecturer
				Dashboard</a></li>
		<!-- Student dashboard -->
		<li sec:authorize="hasRole('STUDENT')"><a
			th:href="@{/student/dashboard}"
			th:classappend="${activePage == 'StudentDashboard'} ? 'active' : ''">Student
				Dashboard</a></li>
		<!-- Student revision -->
		<li sec:authorize="hasRole('STUDENT')"><a
			th:href="@{/student/revision}"
			th:classappend="${activePage == 'Revision'} ? 'active' : ''">Revision</a></li>
		<!-- Student test -->
		<li sec:authorize="hasRole('STUDENT')"><a
			th:href="@{/student/test}"
			th:classappend="${activePage == 'Test'} ? 'active' : ''">Take a
				Test</a></li>


		<div class="nav-right">
			<li sec:authorize="not isAuthenticated()"><a href="#"
				onclick="document.getElementById('loginModal').style.display='block'; return false;">
					Login </a></li>

			<li sec:authorize="isAuthenticated()">
				<div th:replace="layout :: logout"></div>
			</li>

			<li sec:authorize="isAuthenticated()">
				<div th:replace="layout :: userDetails"></div>
			</li>
		</div>

	</ul>
</nav>

<div th:fragment="loginModal">
	<div id="loginModal" class="modal">
		<form class="modal-content animate" th:action="@{/login}"
			method="post">

			<div class="imgcontainer">
				<span class="close" title="Close Modal"
					onclick="document.getElementById('loginModal').style.display='none'">
					&times; </span> <img th:src="@{/img/avit.jpeg}" alt="Avatar"
					class="avatar">
			</div>

			<div class="container">
				<label for="username"><b>Username</b></label> <input type="text"
					id="username" name="username" placeholder="Enter Username" required>

				<label for="password"><b>Password</b></label> <input type="password"
					id="password" name="password" placeholder="Enter Password" required>

				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</div>
			<div th:if="${param.error}" class="error-message">!!! Invalid
				username or password !!!</div>
			<div class="container1">
				<button type="submit" class="button">Login</button>
			</div>

		</form>
	</div>
</div>

<div th:fragment="newUserModal">
	<button
		onclick="document.getElementById('newUserModal').style.display='block'"
		class="button">Create new user</button>
	<div id="newUserModal" class="modal"
		th:style="${passwordError} ? 'display:block;' : 'display:none;'">
		// The form submits to /createUser, handles password error display, and includes CSRF token for security.

		<form class="modal-content" th:action="@{/createUser}"
			th:object="${user}" method="post">
			<div class="imgcontainer">
				<span class="close"
					onclick="document.getElementById('newUserModal').style.display='none'">
					&times; </span>
			</div>

			<div class="container">
				<label>Username:</label> <input type="text" th:field="*{username}"
					required> <label>Password:</label> <input type="password"
					th:field="*{password}" required> <label>Confirm
					Password:</label> <input type="password" name="confirmPassword" required>

				<label>First name:</label> <input type="text"
					th:field="*{firstname}" required> <label>Surname:</label> <input
					type="text" th:field="*{surname}" required> <label>Role:</label><br>
				<label> <input type="radio" th:field="*{role}" value="ADMIN"
					required> Admin
				</label> <label> <input type="radio" th:field="*{role}"
					value="LECTURER"> Lecturer
				</label> <label> <input type="radio" th:field="*{role}"
					value="STUDENT"> Student
				</label>
			</div>

			<!-- CSRF token for Spring Security -->
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />

			<div th:if="${passwordError}" class="error-message"
				th:text="${passwordError}"></div>

			<div class="container1">
				<button type="submit" class="button">Create user</button>
			</div>
		</form>
	</div>
</div>

<div th:fragment="newNounModal">
	<button
		onclick="document.getElementById('newNounModal').style.display='block'"
		class="button">Create new noun</button>
	<div id="newNounModal" class="modal">
		<form class="modal-content" th:action="@{/createNoun}"
			th:object="${noun}" method="post">

			<div class="imgcontainer">
				<span class="close"
					onclick="document.getElementById('newNounModal').style.display='none'">
					&times; </span>
			</div>

			<div class="container">

				<label>Welsh noun:</label> <input type="text"
					th:field="*{welshWord}" required> <label>English
					translation:</label> <input type="text" th:field="*{englishWord}" required>

				<label>Welsh example sentence:</label> <input type="text"
					th:field="*{welshSent}" required> <label>English
					example sentence:</label> <input type="text" th:field="*{englishSent}"
					required> <label>Gender:</label> <label> <input
					type="radio" th:field="*{gender}" value="MASCULINE" required>
					Masculine
				</label> <label> <input type="radio" th:field="*{gender}"
					value="FEMININE"> Feminine
				</label>
			</div>

			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />

			<div class="container1">
				<button type="submit" class="button">Create noun</button>
			</div>
		</form>
	</div>
</div>

<div th:fragment="editNounModal">
	<div id="editNounModal" class="modal">
		<form class="modal-content" id="editNounForm"
			th:action="@{/updateNoun}" th:object="${noun}" method="post">
			<div class="imgcontainer">
				<span class="close"
					onclick="document.getElementById('editNounModal').style.display='none'">
					&times; </span>
			</div>
			<div class="container">
				<label>Welsh noun:</label> <input type="text" id="editWelshWord"
					name="welshWord" required> <label>English
					translation:</label> <input type="text" id="editEnglishWord"
					name="englishWord" required> <label>Welsh example
					sentence:</label> <input type="text" id="editWelshSent" name="welshSent"
					required> <label>English example sentence:</label> <input
					type="text" id="editEnglishSent" name="englishSent" required>
				<label>Gender:</label> <label> <input type="radio"
					name="gender" value="MASCULINE" id="editGenderMasculine" required>
					Masculine
				</label> <label> <input type="radio" name="gender" value="FEMININE"
					id="editGenderFeminine"> Feminine
				</label>
			</div>

			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />

			<div class="container1">
				<button type="submit" class="button">Update noun</button>
			</div>
		</form>
	</div>
</div>

<!-- User details -->
<div th:fragment="userDetails">
	Hello <span th:text="${#authentication.principal.firstname}"></span> (<span
		th:text="${#authentication.principal.role}"></span>)
</div>

<!-- Logout -->
<div th:fragment="logout">
	<a th:href="@{/logout}"> Logout </a>
</div>

<!-- Footer -->
<div th:fragment="footer">
	<p>© 2026 - Bamber, Bramble, Dooley, Ritchie, Roberts, Thomas -</p>
</div>

<!-- Scripts -->
<div th:fragment="scripts">
	<script>
		window.onclick = function(event) {
			const modal = document.getElementById('loginModal');
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
		window.onclick = function(event) {
			const modal = document.getElementById('newUserModal');
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
		window.onclick = function(event) {
			const modal = document.getElementById('newNounModal');
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
		function toggleAnswer(button) {
			const answer = button.nextElementSibling;

			if (answer.style.display === "none") {
				answer.style.display = "block";
				button.textContent = "Hide Answer";
			} else {
				answer.style.display = "none";
				button.textContent = "Show Answer";
			}
		}
	</script>
</div>

</html>
