<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Header -->
<div th:fragment="header">
	<h1>Group Project</h1>
	<hr>
	<hr>
</div>

<!-- Login modal -->
<div th:fragment="loginModal">
	<button
		onclick="document.getElementById('loginModal').style.display='block'">
		Login</button>

	<!-- Modal -->
	<div id="loginModal" class="modal">

		<form class="modal-content" th:action="@{/login}" method="post">
			<div class="imgcontainer">
				<span class="close"
					onclick="document.getElementById('loginModal').style.display='none'">
					&times; </span> <img th:src="@{/img/avit.jpeg}" alt="Avatar"
					class="avatar">
			</div>

			<div class="container">
				<label>Username</label> <input type="text" name="username" required>
			</div>

			<div>
				<label>Password</label> <input type="password" name="password"
					required>
			</div>

			<!-- CSRF token for Spring Security -->
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />

			<button type="submit">Login</button>

		</form>

	</div>
	<hr>
</div>

<!-- Login modal -->
<div th:fragment="newUserModal">
	<button
		onclick="document.getElementById('loginModal').style.display='block'">
		New User</button>

	<!-- Modal -->
	<div id="loginModal" class="modal">

		<form class="modal-content" th:action="@{/createUser}" th:object="${user}" method="post">
			<div class="imgcontainer">
				<span class="close"
					onclick="document.getElementById('loginModal').style.display='none'">
					&times; </span> 
			</div>

			<div class="container">
			<label>Username:</label> <input type="text" th:field="*{username}"
					required>
			</div>

			<div>
				<label>Password:</label> <input type="password"
					th:field="*{password}" required>
			</div>

			<div>
				<label>First name:</label> <input type="text"
					th:field="*{firstname}" required>
			</div>

			<div>
				<label>Surname:</label> <input type="text" th:field="*{surname}"
					required>
			</div>

			<div>
				<label>Role:</label><br> <label> <input type="radio"
					th:field="*{role}" value="ADMIN" required> ADMIN
				</label> <label> <input type="radio" th:field="*{role}"
					value="LECTURER"> LECTURER
				</label> <label> <input type="radio" th:field="*{role}"
					value="STUDENT"> STUDENT
				</label>
			</div>

			<!-- CSRF token for Spring Security -->
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />

			<button type="submit">Create User</button>

		</form>
	</div>
	<hr>
</div>

<!-- User details -->
<div th:fragment="userDetails">
	Hello <span th:text="${#authentication.principal.firstname}"></span>. <br />
	You are logged in as <span th:text="${#authentication.principal.role}"></span>.
</div>

<!-- Logout -->
<div th:fragment="logout">
	<a th:href="@{/logout}">
		<button type="button">Logout</button>
	</a>
</div>
<div th:fragment="nav">
	<a th:href="@{/}">
		<button type="button">Home</button>
	</a>
</div>
<!-- Footer -->
<div th:fragment="footer">
	<p>© 2026 Best Team Ever</p>
</div>

<!-- Scripts -->
<div th:fragment="scripts">
	<script>
        window.onclick = function(event) {
            const modal = document.getElementById('loginModal');
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</div>

</html>
